#topnav {
  width: 100vw;
  height: 3rem;
  background-color: var(--bg-l1);
  display: flex;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
  border-bottom: 1px solid var(--bg-l2);
  box-sizing: border-box;
  color: var(--text);
}

#main {
  max-height: 100%;
  display: flex;
  justify-self: center;
  margin: 2rem;
  flex-direction: row;
  gap: 2rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bg-l1);
  padding: 1rem;
  border-radius: 1rem;
  box-sizing: border-box;
  border: 1px solid var(--bg-l2);
}

#field {
  justify-content: center;
  align-items: center;
  aspect-ratio: 1 / 1;
  max-height: calc(100vh - 2rem - 2rem - 3rem);
}

canvas {
  width: 100%;
  height: 100%;
}

#point-list {
  color: var(--text);
  min-width: 220px;
  font-size: 16px;
}

#point-list div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Hide default number input spinners */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.number-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.number-input .buttons {
  display: flex;
  flex-direction: row;
  /* gap: 0.5rem; */
  align-items: center;
}

.number-input .buttons input[type="number"] {
  background-color: transparent;
  border: none;
  border-top: 1px solid var(--bg-l2);
  border-bottom: 1px solid var(--bg-l2);
  color: var(--text);
  text-align: center;
  width: 4rem;
  outline: none;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
}

.number-input .buttons button:first-child {
  border-radius: 0.5rem 0 0 0.5rem;
}

.number-input .buttons button:last-child {
  border-radius: 0 0.5rem 0.5rem 0;
}
.faded {
  color: var(--text-faded);
}

.point-item {
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  transition: 50ms;
  border: 1px solid transparent;
  box-sizing: border-box;
}

.point-item:hover {
  /* background-color: var(--bg-l2); */
  border: 1px solid var(--bg-l2);
}

.point-item.selected {
  /* background-color: var(--bg-l2); */
  /* border-left: 3px solid var(--text); */
  /* padding-left: calc(0.5rem - 3px); */
  background-color: var(--bg-l2);
  /* border: 1px solid var(--text); */
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

#footer {
  color: var(--text-faded);
  align-items: center;
  display: flex;
  height: auto;
  padding: 0 2rem;
  font-size: 12px;
  justify-content: center;
  margin-top: auto;
  box-sizing: border-box;
  height: 3rem;
  gap: 1rem;
}
