:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  --bg-d1: #101015;
  --bg: #202024;
  --bg-l1: #303033;
  --bg-l2: #505051;

  --text: #efefef;
  --text-faded: #9f9f9f;
  color: var(--text);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  background-color: var(--bg);
  width: 100vw;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

h4 {
  font-size: 16px;
  font-weight: 600;
  margin: 0;
}

button,
select {
  background-color: transparent;
  border: 1px solid var(--bg-l2);
  border-radius: 0.5rem;
  min-width: 2rem;
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  font-size: 16px;
  box-sizing: border-box;
  min-height: 2rem;
  color: var(--text);
  outline: none;
  cursor: pointer;
  transition: 50ms;
}

button:hover,
select:hover {
  border-color: var(--text);
}

button:disabled {
  color: var(--text-faded);
  border-color: var(--bg-l2);
  cursor:auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}